# Ignore all NetCDF datasets
*.nc

# ignore the entire datasets folder
datasets/

# ignore !old folder
!old/

# Ignore temporary Python files
__pycache__/
*.tmp

# VS Code settings
.vscode/

# Ignore PNG images
*.png

# ignore images folders
images/